/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
ul {
  display: flex;
  flex-direction: column;
  padding: 10%;
}
h1,
h2,
h3,
p,
li {
  font-family: 'Merriweather', serif;
  font-size: 1.25rem;
  color: black;
}
header {
  height: 20%;
  background: lavender;
  align-items: center;
  font-size: 1.25rem;
}
@media (max-width: 500px) {
  header {
    display: flex;
    flex-direction: column;
  }
}
header .first {
  display: flex;
  justify-content: center;
  background-image: url('https://images.unsplash.com/photo-1517315003714-a071486bd9ea?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=751&q=80');
  background-size: cover;
}
@media (max-width: 500px) {
  header .first {
    display: flex;
    flex-direction: column;
  }
}
header .first a {
  text-decoration: none;
  padding: 50px;
  font-family: 'Merriweather', serif;
  font-weight: 800;
  letter-spacing: 1.4;
  color: black;
}
@media (max-width: 500px) {
  header .first a {
    font-size: 20px;
  }
}
.second {
  width: 90%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 40px;
  background-image: url('https://images.unsplash.com/photo-1517315003714-a071486bd9ea?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=751&q=80');
  background-size: cover;
}
.second .second-part1 {
  border: 2px solid lavender;
  border-radius: 40px;
  width: 100%;
  padding: 2%;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('https://images.unsplash.com/photo-1517315003714-a071486bd9ea?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=751&q=80');
  background-size: cover;
}
.second .second-part1 h2 {
  display: flex;
  justify-content: center;
  padding: 10px;
}
@media (max-width: 500px) {
  .second .second-part1 h2 {
    font-size: 20px;
  }
}
.second .second-part1 p {
  display: flex;
  justify-content: center;
  padding: 10px;
}
@media (max-width: 500px) {
  .second .second-part1 p {
    display: flex;
    line-height: 2;
  }
}
.second .second-part1 button {
  background-color: lavender;
  width: 15%;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: auto;
  border-radius: 10px;
  font-family: 'Merriweather', serif;
}
@media (max-width: 500px) {
  .second .second-part1 button {
    width: 60%;
    margin-top: 4px;
    background-color: beige;
  }
}
.second .second-part2 {
  border: 2px solid lavender;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  padding: 30px;
  margin-top: 20px;
}
@media (max-width: 500px) {
  .second .second-part2 {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
}
.second .second-part2 .third {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font: 'Merriweather', serif;
}
.second .second-part2 .third .title {
  color: black;
  padding: 20px;
}
.second .second-part2 .third li {
  list-style-type: circle;
  padding: 5px;
}
footer {
  background-color: lavender;
}
footer button {
  display: flex;
  justify-content: center;
  width: 15%;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  margin: auto;
  border-radius: 10px;
  font-family: 'Merriweather', serif;
  font-size: 1.25rem;
  border: solid 4px whitesmoke;
}
@media (max-width: 500px) {
  footer button {
    width: 60%;
    margin-top: 4px;
    background-color: beige;
  }
}
